# Datasets
data/raw/
data/processed/

# Trained models
models/weights/
*.pth

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE-specific
.idea/
.vscode/

# Streamlit
.streamlit/
